---
layout: default
---
<article class="post">

  <h1 class="post-title">{{ page.title }}</h1>

  <p class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d-%m-%Y" }}</time>

    {% if page.author %}
      &nbsp;/&nbsp;
      <span>{{ page.author }}</span>
    {% endif %}
  </p>

  <div class="post-content">

    {{ content }}

    {% if page.previous.url or page.next.url %}
<hr/>
		{% if page.previous.url %}
		  <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">
			<span class="link-to-post__prev">&nbsp;Previous&nbsp;&#10535;</span>
		  </a>
		{% endif %}
		{% if page.next.url %}
		  <a href="{{ page.next.url }}" title="{{ page.next.title }}">
			<span class="link-to-post__next">&nbsp;Next</span>
		  </a>
		{% endif %}
    {% endif %}

  </div>

</article>
